# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [47]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = ('./data/schools_complete.csv')
student_data_to_load = ('./data/students_complete.csv')

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [153]:
# Create a District Summary
data = ({'Total Schools':[total_num_schools],
                             'Total Students':[total_num_students],
                             'Total Budget':[total_budget],
                             'Average Math Score':[average_math_score],
                             'Average Reading Score':[average_reading_score],
                             'Overall Passing Score':[overall_overall_score],
                             'Math Passing Average': [percentage_pass_math],
                             'Read Passing Average': [percentage_pass_read]}
       	 
result_dataframe = pd.Dataframe(data)
print(result_dataframe)

SyntaxError: invalid syntax (4250751790.py, line 11)

In [154]:
# Total number of schools
num_schools = len(school_data['school_name'].unique())
print("Total number of schools: ", num_schools)

Total number of schools:  15

In [155]:
# Total number of students
total_students = school_data_complete.student_name.count()
print("Total number of students: ", num_students)

Total number of students:  520071

In [156]:
# Total budget
total_budget = sum(school_data_complete.budget.unique())
print(total_budget)

24649428

In [157]:
# Average math score
average_math_score = school_data_complete.math_score.mean()
print(average_math_score)

78.98537145774827

In [158]:
# Average reading score
average_reading_score = school_data_complete.reading_score.mean()
print(average_reading_score)

81.87784018381414

In [159]:
# Overall average score
overall_average_score = (average_math_score + average_reading_score)/2
print(overall_average_score)

80.43160582078121

In [160]:
# Percentage of passing math (70 or greater)
passing_math_pct = (school_data_complete[school_data_complete['math_score'] >= 70].math_score.count()) / total_students
print(passing_math_pct)

0.749808526933878

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [166]:
#Create a School Summary
school_summary_df = pd.DataFrame({"School Names":school_names,
                                  "School Type":school_types,
                                  "Total Students":school_total_students,
                                  "Total School Budget":school_budget,
                                  "Per Student Budget":school_per_student_budget,
                                  "Average Math Score":school_avg_math_score,
                                  "Average Reading Score":school_avg_reading_score,
                                  "Passing Math":school_pct_passing_math,
                                  "Passing Reading":school_pct_passing_reading,
                                  "Overall Passing Rate":school_overall_passing})

school_summary_df = school_summary_df.reset_index(drop=True)
school_summary_df

,School Names,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
0,Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
1,Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
2,Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
3,Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
4,Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
5,Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
6,Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
7,Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
8,Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
9,Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
10,Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
11,Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
12,Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
13,Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
14,Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [167]:
#  Sort and display the top five schools in overall passing rate
top_5 = school_summary_df.sort_values(by='Overall Passing Rate', ascending=False).head(5).reset_index(drop=True)
top_5

,School Names,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
0,Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
1,Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
2,Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
3,Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
4,Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [170]:
# Calculate total school budget
total_budget = sum(school_summary.budget.unique())
print(total_budget)

[24649428]

In [172]:
# Calculate per student budget
school_per_student_budget = [i/j for i,j in zip(school_budget,school_total_students)]
print(school_per_student_budget)

[628.0, 582.0, 639.0, 644.0, 625.0, 652.0, 581.0, 655.0, 650.0, 609.0, 637.0, 600.0, 638.0, 578.0, 583.0]

In [174]:
# Cacluate the avg math and reading score
school_avg_math_score = list(school_summary.math_score.mean())
print(school_avg_math_score)

school_avg_reading_score = list(school_summary.reading_score.mean())
print(school_avg_reading_score)

[77.01692420897719, 83.10094287298946, 76.54514909701805, 77.20257826887661, 83.38709677419355, 77.19103521878336, 83.80535279805353, 76.70994940978078, 77.00930954228083, 83.80390032502709, 76.77275561097257, 83.42476303317535, 83.45757385292269, 83.28039927404718, 83.66417481311099]
[84.36252146185922, 84.43261231281198, 84.7677446451071, 84.61279926335175, 84.25315568022441, 84.48372465314834, 84.39172749391727, 84.69139966273187, 84.43056633048874, 84.68039003250271, 84.37437655860349, 84.36255924170617, 84.2595851665619, 84.52676950998185, 84.47958596894767]

#### Find the passing rate for math and reading (above 70 points)

In [187]:
# Find the total counts of math result
school_avg_math_score = list(school_summary.math_score.count())

# Find the counts for math result in each school that pass 70 or higher
school_summary = school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name'])

# Calculate the math passing rate
school_pct_passing_math = [(i/j)*100 for i,j in zip(school_summary.math_score.count(),school_total_students)]

In [189]:
# Find the total counts of read result

# Find the counts for read result in each school that pass 70 or higher
school_summary = school_data_complete[school_data_complete['reading_score'] >= 70].groupby(['school_name'])

# Calculate the read passing rate
school_pct_passing_reading = [(i/j)*100 for i,j in zip(school_summary.reading_score.count(),school_total_students)]

In [191]:
# Calculate the overall passing rate (average of the math and reading passing rate)
school_overall_passing = [(i+j)/2 for i,j in zip(school_pct_passing_math,school_pct_passing_reading)]
print(school_overall_passing)

[74.30667202572349, 95.58665231431647, 73.36385215327229, 73.80430814165754, 95.26566757493188, 73.80798274002157, 94.37939110070258, 73.50017140898183, 73.6399915984037, 95.27027027027026, 73.2933233308327, 94.86087450312323, 95.29051987767585, 95.20367936925099, 94.97222222222223]

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [192]:
#  Sort and display the worst five schools in overall passing rate
bot_5 = school_summary_df.sort_values(by='Overall Passing Rate', ascending=True).head(5).reset_index(drop=True)
bot_5

,School Names,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
0,Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
1,Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
2,Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
3,Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
4,Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [214]:
# Create table that lists the average math score for each school of each grade level.
def average_math_by_grade(grade):
    school_summary = school_data_complete.loc[school_data_complete.grade == grade].groupby(['school_name'])
    school_names = school_data_complete.school_name.sort_values().unique()
    school_avg_math_score = list(school_summary.math_score.mean())

In [215]:
# Calculate the average math score for 9th grade in each school
grade_9 = average_math_by_grade('9th')

In [216]:
# Calculate the average math score for 10th grade in each school
grade_10 = average_math_by_grade('10th')

In [217]:
# Calculate the average math score for 11th grade in each school
grade_11 = average_math_by_grade('11th')

In [221]:
# Calculate the average math score for 12th grade in each school
grade_12 = average_math_by_grade('12th')

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [222]:
# Create table that lists the average reading score for each school of each grade level.
def average_reading_by_grade(grade):
    school_summary = school_data_complete.loc[school_data_complete.grade == grade].groupby(['school_name'])
    school_names = school_data_complete.school_name.sort_values().unique()
    school_avg_reading_score = list(school_summary.reading_score.mean())

In [223]:
# Calculate the average reading score for 9th grade in each school
grade_9 = average_reading_by_grade('9th')

In [224]:
# Calculate the average reading score for 10th grade in each school
grade_10 = average_reading_by_grade('10th')

In [225]:
# Calculate the average reading score for 11th grade in each school
grade_11 = average_reading_by_grade('11th')

In [226]:
# Calculate the average reading score for 12th grade in each school
grade_12 = average_reading_by_grade('12th')

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [230]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
# Create a new column to show budget per student in each row

In [ ]:
# Create a new column to define the spending ranges per student

In [ ]:
# Calculate the average math score within each spending range

In [ ]:
# Calculate the percentage passing rate for math in each spending range

In [ ]:
# Calculate the percentage passing rate for reading in each spending range

In [ ]:
# Calculate the percentage overall passing rate in each spending range

### Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Create bins and groups, school type {'Charter', 'District'}

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate